/* Main Colors */
/* https://coolors.co/cfdbd5-e8eddf-f5cb5c-242423-333533 */
/* #242423 - Eerie Black */
/* #333533 - Jet (grey) */
/* #F5CB5C - Maize Crayols (bright musterd yellow) */
/* #E8EDDF - Alabaster (light grey/blue) */
/* #CFDBD5 - Gainsoboro (light grey/green) */

/*--prussian-blue: #1d3557ff;
  --celadon-blue: #457b9dff;
  --powder-blue: #a8dadcff;
  --honeydew: #f1faeeff;
  -- white text #E8EDDF
*/

/*---------------------------------*/
/*----------Global Styles----------*/
/*---------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #1d3557ff;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* font from Google Fonts*/
  font-size: 18px;
  line-height: 1.5;
}

/* Setting general projects picture width */
img {
  width: 300px;
}

/* changing the color of links in page */
a {
  color: #1D3557;
  font-weight: 600;
}

/* removing the underline from links while hovering over */
a:hover {
  text-decoration: none;
}

h1 {
  font-size: 100px;
  line-height: 1;
}

h2 {
  font-size: 45px;
}

h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0;
}

h3 {
  margin-bottom: 0;
}

/* defining main content width */
.content-wrap {
  max-width: 1100px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

.item-details h3+p {
  font-style: italic;
}

.item-details h3~p {
  margin: 0;
}

/* divider between items */
.divider>section {
  border-bottom: 1px dashed #242423;
  padding: 25px 0;
}

.divider>section:last-of-type {
  border-bottom: none;
}

/*---------------------------------*/
/*-------------Profile-------------*/
/*---------------------------------*/
header {
  background: #1d3557ff;
  color: #f7fff7;
  /* text-align: center; moved to responsive */
}

/* header:before {
  content: '';
  background: url("./images/Meir-logo-2.png") no-repeat center center/cover;
  opacity: 0.15;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 0;
  z-index: 1;
} */

.flex-head-container {
  display: flex;
  align-items: center;
}

.header-pic {
  max-width: 22%;
  min-width: 180px;
}

.header-pic img {
  max-width: 100%;
  padding: 5px;
  border-radius: 20px;
  background-color: #457b9dff;
  box-shadow: 4 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 gray(0, 0.19);
  animation: vibrate 1.5s;
}

.page-headers {
  max-width: 77.5%;
  text-align: left;
  padding: 5px;
  margin-left: 30px;
}

/*---------------------------------*/
/*-------------Nav-Bar-------------*/
/*---------------------------------*/
nav {
  height: 68px;
  width: 100%;
  /* border: 2px solid red; */
  background-color: #1d3557ff;
  /*opacity: 0.985;*/
  position: sticky;
  top: -2px;
  display: flex;
  align-items: center;
  border-bottom: 4px solid #333533;
  z-index: 2;
}

.nav-ul-flex {
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-ul-flex li {
  /* border: 2px solid blue; */
  align-self: center;
}

.nav-ul-flex .nav-li-2 {
  margin-left: auto;
}

.links img {
  margin-top: 10px;
  max-height: 65px;
  width: auto;
}

.links:nth-child(n+2) img:hover {
  background-color: #848484be;
  border-radius: 15px;
}

.nav-li-1 img {
  height: 60px;
  width: auto;
}

.nav-li-1-mobile {
  display: none;
}

/*---------------------------------*/
/*------------Projects-------------*/
/*---------------------------------*/
.projects {
  background: #457b9dff;
  color: #E8EDDF;
}

.projects a,
.projects a:visited {
  color: #E8EDDF;
  font-weight: 600;
  /* text color for links in project section */
}

.projects .btn {
  color: #E8EDDF;
  /* text color for button links in project section */
  border: 2px solid#E8EDDF;
  background: #1d3557ff;
  text-decoration: none;
  /* remove underline in button links in projects section */
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.projects .btn:hover {
  background: #1d3557aa;
}

/* project item classes are here to take care of floating elements */
.project-item {
  overflow: hidden;
  /*border-bottom: 1px dashed #343434;*/
  /* Adding line between projects to separate */
  /*padding: 25px 0;*/
  /* Adding space between projects to separate */
}

/* moved to responsive */
/*.project-item img {
  float: left;
  margin-right: 20px;
} */
.project-item h3 {
  margin-top: 0;
}

/*-----------------------------------*/
/*----------Work Expirience----------*/
/*-----------------------------------*/
.work-experience {
  background: #F2BB05;
}

/*defining the grid for this section*/
/* moved to responsive */
/* .job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
} */

/*---------------------------------*/
/*------------Education------------*/
/*---------------------------------*/
.education {
  background-image: url(./images/invictus-tailoring-sneaker-socks-5OZgVj0YVwQ-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 50px;
}

/*setting the p width in education is for making sure the text wont mix with the background-image*/
.education p {
  width: 60%;
}

/*---------------------------------*/
/*-----------Contact Info----------*/
/*---------------------------------*/
footer {
  background: #f1faeeff;
  color: #1d3557ff;
  /* text-align: center; moved to responsive */
}

.contact-list {
  list-style-type: none;
  /*Removing to round bullets near ecah list item*/
  padding: 0;
  /* moved to responsive */
  /* display: flex;
  justify-content: center; */
}

.contact-list a {
  display: inline-block;
  padding: 20px;
  /*added to keep space between the contact links*/
}

/*---------------------------------*/
/*-------header pic Animation------*/
/*---------------------------------*/
@keyframes vibrate {
  0% {
    transform: rotate(15deg);
  }

  /*5% { transform: rotate(-15deg); }*/
  /*10% { transform: rotate(0deg); }*/
  /*15% { transform: rotate(-12.5deg); }*/
  20% {
    transform: rotate(-15deg);
  }

  /*25% { transform: rotate(-10deg); }*/
  /*30% { transform: rotate(0deg); }*/
  /*35% { transform: rotate(12.5deg); }*/
  40% {
    transform: rotate(-12.5deg);
  }

  /*45% { transform: rotate(-5deg); }*/
  /*50% { transform: rotate(-12.5deg); }*/
  55% {
    transform: rotate(12.5deg);
  }

  /*60% { transform: rotate(-2.5deg); }*/
  /*65% { transform: rotate(3deg); }*/
  70% {
    transform: rotate(-10deg);
  }

  /*75% { transform: rotate(2deg); }*/
  80% {
    transform: rotate(7.5deg);
  }

  85% {
    transform: rotate(-5deg);
  }

  90% {
    transform: rotate(3deg);
  }

  94% {
    transform: rotate(-2deg);
  }

  95% {
    transform: rotate(2deg);
  }

  96% {
    transform: rotate(-1.5deg);
  }

  97% {
    transform: rotate(1.5deg);
  }

  98% {
    transform: rotate(-1deg);
  }

  99% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/*---------------------------------*/
/*-------Responsive (general)------*/
/*---------------------------------*/
@media screen and (min-width: 750px) {

  header,
  /*dont like this one maybe remove*/
  footer {
    text-align: center;
  }

  .links img {
    max-height: 65px;
  }


  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .contact-list {
    display: flex;
    justify-content: center;
  }
}

/*---------------------------------*/
/*-------Responsive (tablets)------*/
/*---------------------------------*/
@media screen and (max-width: 749px) {
  h1 {
    font-size: 70px;
    line-height: 0.95;
    margin-bottom: 10px;
  }

  h2 {
    line-height: 1;
  }

  .page-headers {
    max-width: 100%;
    text-align: center;
    /* padding: 5px; */
    /* margin-left: 30px; */
  }

  .flex-head-container {
    display: flex;
    flex-direction: column;
  }

  .links img {
    max-height: 50px;
  }

  .header-pic {
    max-width: 35%;
  }

  .nav-li-1 {
    display: none;
  }

  .nav-li-1-mobile {
    display: block;
    scale: 0.8;
  }

  .contact-list a {
    padding: 5px;
  }
}

/*---------------------------------*/
/*--------Responsive (mobile)------*/
/*---------------------------------*/
@media screen and (max-width: 550px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
  }


  .links img {
    max-height: 50px;
  }
}